* { 
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

#Section1 {
    padding: 25px;
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 144px;
    max-width: 100%;
}

#Section2 {
    padding: 25px;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg") ;
    color: white;
    scroll-margin-top: 144px;
    max-width: 100%;
}

#Section3 {
    padding: 25px;
    background-color: rgb(245, 240, 230);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 25px;
    scroll-margin-top: 144px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.one {
    grid-column: 1;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow-y: scroll;
    
    
}
.two {
    grid-column: 2;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow-y: scroll;
}
.three {
    grid-column: 3;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow-y: scroll;
}
.four {
    grid-column: 4;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow-y: scroll;
}
.one p {
    
    padding: 15px;
}
.two p {
    
    padding: 15px;
}
.three p {
    
    padding: 15px;
}
.four p {
    
    padding: 15px;
}
div {
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 28px;
}
  
#Navbar {
    
    position: sticky;
    top: 0;
    background-color: white;
    
}
#Navbar img {
    max-width: 400px;
}

#Navbar a {
    float: left;
    display: block;
    color: #182b49;
    text-decoration: none;
    
}

#Navbar a:hover {
    background-color: #182b49;
    color: white;
}

p {
    font-size: 28px;
    padding: auto;
    
}
h2 {
    font-size: 32px;
    padding: auto;
}
img {

    padding: auto;
}

@media screen and (max-width: 800px) {
    ul {
        display: none;
    }
    #Navbar img {
        max-width: 75%;
        padding: auto;
    }
    h2 {
        font-size: 24px;
        padding: auto;
    }
    p {
        font-size: 20px;
        padding: auto;
    }
    
    #Section3 {
        padding: 25px;
        background-color: rgb(245, 240, 230);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 25px;
        scroll-margin-top: 144px;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .one {
        grid-column: 1;
        background-color: #182b49;
        color: white;
        max-height: 500px;
        overflow: scroll;
        margin: 0 auto;
    }
    .two {
        grid-column: 2;
        background-color: #182b49;
        color: white;
        max-height: 500px;
        overflow: scroll;
    }
    .three {
        grid-column: 1;
        background-color: #182b49;
        color: white;
        max-height: 500px;
        overflow: scroll;
    }
    .four {
        grid-column: 2;
        background-color: #182b49;
        color: white;
        max-height: 500px;
        overflow: scroll;
    }
    .one p {
    
        padding: 10px;
    }
    .two p {
        
        padding: 10px;
    }
    .three p {
        
        padding: 10px;
    }
    .four p {
        
        padding: 10px;
    }
}